body {
  font-family: sans-serif;
  background: #fff0f5;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.contenedor {
  background: #ffe6f0;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 8px fuchsia;
  width: 280px;
  text-align: center;
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid fuchsia;
}

button {
  background: fuchsia;
  color: white;
  border: none;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: deeppink;
}

#mensaje {
  margin-top: 15px;
  font-weight: bold;
}
