body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #f4f4f4;
  text-align: center;
  margin-top: 200px;
  font-size: 30px;
  background-image: url("depositphotos_7887354-stock-photo-stars-background-01.webp");
  background-size: cover;     
  background-repeat: no-repeat;
  background-attachment: fixed;
}


button {
  margin-top: 200px;
  padding: 14px;
  width: 80%;
  background: #e62ee6;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
}

button:hover {
  background: #ac339b;
}